<div id="page1">
  <h1>monitor</h1>
  <ul class="pages">
    <li class="chat page">
      <div class="chatArea">
        <ul class="messages"></ul>
      </div>
      <input class="input inputMessage" placeholder="Type here..."/>
    </li>
    <li class="login page">
      <div class="form">
        <h3 class="title">What's your nickname?</h3>
        <input class="input usernameInput" type="text" maxlength="14" />
      </div>
    </li>
  </ul>
</div>
<div id="page2">
  <h1>monitor</h1>
  <ul class="pages" >
    <li class="chat page">
      <div class="chatArea">
        <ul class="messages"></ul>
      </div>
      <input class="input inputMessage" placeholder="Type here..."/>
    </li>
    <li class="login page">
      <div class="form">
        <h3 class="title">What's your nickname?</h3>
        <input class="input usernameInput" type="text" maxlength="14" />
      </div>
    </li>
  </ul>
</div>
<div id="page3">
  <ul class="pages" >
    <li class="chat page">
      <div class="chatArea">
        <ul class="messages"></ul>
      </div>
      <input class="input inputMessage" placeholder="Type here..."/>
    </li>
    <li class="login page">
      <div class="form">
        <h3 class="title">What's your nickname?</h3>
        <input class="input usernameInput" type="text" maxlength="14" />
      </div>
    </li>
  </ul>
</div>
<div id="page4">
  <ul class="pages" >
    <li class="chat page">
      <div class="chatArea">
        <ul class="messages"></ul>
      </div>
      <input class="input inputMessage" placeholder="Type here..."/>
    </li>
    <li class="login page">
      <div class="form">
        <h3 class="title">What's your nickname?</h3>
        <input class="input usernameInput" type="text" maxlength="14" />
      </div>
    </li>
  </ul>
</div>
<script src="javascripts/main.js"></script>
<script type="text/javascript">
  initChat($("#page1"));
  initChat($("#page2"));
  initChat($("#page3"));
  initChat($("#page4"));
</script>