extend layout
block title
	title Home
block content
	h1 WELCOME	
	form(method="get", action="/query")
		input(type="checkbox", name="foo", value="rules")
		input(type="email", name="baz", placeholder="give me your email")
		textarea(name="bar")
		input(type="submit")
	form(method="post")
		each statement, j in statements
			div= statement
			ul
				each answer, i in answers 
						li
							input(type="radio", name="s"+j, value=i)
							= answer
			hr


		input(type="submit",value='send Survey')
