extends layout
block title	
	title Orders
block content
	h1 Our Orders
	a(href="/orders/new") Create an Order
	table
		tr
			th ID
			th Customer Name
			th Pickup Time
		each order, orderId in orders
			tr
				td
					a(href="/orders/" + orderId)= orderId
				td= order.name
				td= order.date