<h2>Restaurant: {{ detailCtrl.restaurant.name }}</h2>
<form ng-submit="SerachCtrl.searchRestaurant()">
	<select>
	  <option value="name">Name</option>
	  <option value="id">Id</option>
	  <option value="type">Type</option>
	  <option value="phone">Phone</option>
	</select>
	<input type="search" name="Search" value="Keyword">
	<input type="submit" value="Search">
</form>
<ul>
	<li ng-repeat="restaurant in restaurantsCtrl.restaurants">
		<a ui-sref='restaurantDetail(restaurant)'>{{ restaurant.name }}</a>
		
	</li>
</ul>