@-webkit-keyframes tile-2 {
    0%   {background-color:#004358; }
    25%  {background-color:#1f8a70; }
    50%  {background-color:#bedb39; }
    75%  {background-color:#ffe11a; }
    100% {background-color:#fd7400; }
}
@-webkit-keyframes tile-4 {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
}
@-webkit-keyframes tile-8 {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
}
@-webkit-keyframes tile-16 {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
}
@-webkit-keyframes tile-32 {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
}
@-webkit-keyframes tile-64 {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
}
@-webkit-keyframes tile-128 {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
}

#new-game{
	width: 100px;
	height: 25px;
	background-color: #ccc;
	border-radius: 3px;
	margin: 10px;
	text-align: center;
	cursor:pointer;



}


#board{
	background-image: url("http://stuffpoint.com/the-colours-of-the-rainbow/image/205562-the-colours-of-the-rainbow-rainbow-gradient.png");
	display: inline-block;
	width: auto;
	height: auto;
	border-radius: 10px;
	position: relative;
	
}
.row{
	overflow: auto;

}

.tile {
	float: left;
	border-radius: 5px;
	background-color: #ccc;
	margin: 10px;
	height: 100px;
	line-height: 100px;
	width: 100px;
	border: 100px;
	border-color: #ccc;
 

	

}
.tile-2 {
	background-color: #e37e05;
	text-align: center;
	/*-webkit-animation-name: tile-2; /* Chrome, Safari, Opera */
    /*-webkit-animation-duration: 3s; /* Chrome, Safari, Opera */
    /*-webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
   /* animation-name: example;
    animation-duration: 1s;
    animation-iteration-count: 3;*/
    
	font-size: 40px;

}
.tile-4 {
	background-color: #41821d;
	text-align: center;
	-webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 1s;
    animation-iteration-count: 3;
	font-size: 40px;

}
.tile-8 {
	background-color: #f00600;
	text-align: center;
	-webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 1s;
    animation-iteration-count: 3;
	font-size: 40px;

}
.tile-16 {
	background-color: #820ae8;
	text-align: center;
	-webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 1s;
    animation-iteration-count: 3;
	font-size: 40px;

}
.tile-32 {
	background-color: #0b83fc;
	text-align: center;
	-webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 1s;
    animation-iteration-count: 3;
	font-size: 40px;

}
.tile-64 {
	background-color: #004358;
	text-align: center;
	-webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 1s;
    animation-iteration-count: 3;
	font-size: 40px;

}
.tile-128 {
	background-color: #1f8a70;
	text-align: center;
	font-size: 40px;

}
.tile-256 {
	background-color: #bedb39;
	text-align: center;
	font-size: 40px;

}
.tile-512 {
	background-color: #ffe11a;
	text-align: center;
	font-size: 40px;

}
.tile-1024 {
	background-color: #fd7400;
	text-align: center;
	font-size: 40px;

}
.tile-2048 {
	background-color: #d90000;
	text-align: center;
	font-size: 40px;

}
.tile-4096 {
	background-color:#284907;
	text-align: center;
	font-size: 40px;

}
.tile-8192 {
	background-color: #ff2d00;
	text-align: center;
	font-size: 40px;

}
.tile-16384 {
	background-color: #04756f;
	text-align: center;
	font-size: 40px;

}
.newTileAnimation{
	-webkit-animation-name:fadeIn;
	animation-name:spin;
	-webkit-animation-duration:1s;
	animation-duration:2s;



}