body{
	font-family: arial;
	color:#000;
	margin:0px;
    
}

#superawesome{
	width:960px;
	margin:0px auto;
	background-color: #ccc;
	overflow: hidden;

}

header{
	height:250px;
	background-color: #cccccc;
	padding:0px;
	margin:0px;
}

header h1{
	padding:calc((250px - 188px) / 2) 0px;
	font-size: 0px;
	text-align: center;
}

nav{
	background-color: #a61415;
}

nav h3{
	margin-top:0px;
}

aside{
	float:right;
	width:260px;
	background:#cccccc;
}

main{
	width:calc(700px - (100px / 3));
	margin-right: 260px;
	background: #fff;
	padding:calc(100px / 6);
	min-height: 500px;
}

main:after, nav:after {
    content: " "; /* Older browsers do not suport empty content */
    visibility: hidden;    
    display: block;
    clear: both;
    font-size: 0;
    height: 0;
}

main section{
	height: 300px;
	width: 300px;
	background-color: #cccccc;
	margin:calc(100px / 6);
	float:left;
	font-family: times;
	-webkit-animation-name:spin;
	animation-name:spin;
	-webkit-animation-duration:1s;
	animation-duration:1s;
	overflow: hidden;
	
	
}

main section:last-child:nth-of-type(odd){
	width:calc(100% - (100px / 3));
	margin:calc(100px / 6);
}

section p{
	padding:15px;
	margin:0px;
}

@keyframes spin{
	0%{
		transform:rotate(0deg);
	}
	30%{
		transform:rotate(15deg);
	}
	60%{
		transform:rotate(-15deg);
	}
	100%{
		transform:rotate(0deg);
	}
}

@-webkit-keyframes spin{
	0%{
		transform:rotate(0deg);
	}
	30%{
		transform:rotate(15deg);
	}
	60%{
		transform:rotate(-15deg);
	}
	100%{
		transform:rotate(0deg);
	}
}

footer{
	clear:both;
	background-color: #000000;
	height:75px;
}


img{
	max-width: 100%;
	height:auto;
}
nav a{
	color: #fff;
	display: block;
	text-decoration: none;


}


nav > ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	position: relative;

}
nav > ul > li{
	float: left;
	width: 20%;
	text-align: center;
}
nav > ul > li:hover{
	border-bottom: 2px solid #000;
	}

nav > ul > li > a{
	height: 55px;
	line-height: 55px;


}
nav > ul > li > ul{
	display: none;
	position: absolute;
	top: 55px;
	left: 0px;
	background:  #aaa;
	width: 100%;
	text-align: left;
	list-style-type: none;
	padding: 0px;
	margin:  0px;

	z-index: 0;


}
nav > ul > li:hover > ul{
	display: block;
	animation-name:flip;
	animation-duration:1s;
	-webkit-animation-name:flip;
	-webkit-animation-duration:1s;
	animation-iteration-count: 1;
	-webkit-animation-iteration-count:1;
	
	
}
nav > ul > li > ul >li{
	float: left;
	padding: 20px;
	width: calc(20% - 40px);
}
nav > ul > li > ul >li > a{
	border-bottom: 2px solid #000;
	margin-bottom: 25px;

}





