extends layout
block head
	script(type= "text/javascript" src="//code.jquery.com/jquery-1.11.3.min.js")
	script(type= "text/javascript" src="/javascripts/restaurants.jquery.js")
block content
	h1 Cheese
	div#cheese