doctype html
html
  body
    h1 NEW INFORMATION
    form(method="post" action="/restaurants")
      | Name:
      br
      input(type='text', name='name')
      br
      | Type:
      br
      input(type='text', name='type')
      br
      | Phone:
      br
      input(type='text', name='phone')
      br
      br
      input(type='submit')
      br
