extend ../layout

block content
	h2 Showing Restaurant

	p Name: #{restaurant.name}
	p Type: #{restaurant.type}
	p Phone: #{restaurant.phone}

	form(method="post" action="/restaurants/#{restaurant._id}?_method=delete")
		input(type="submit" value = "DELETE YOU RESTAURANT")
