ctype html
html
  body
    h1 EDIT INFORMATION
    form(method="post" action="/restaurants")
      | Name:
      br
      input(type='text', name='name' value= restaurant.name)
      br
      | Type:
      br
      input(type='text', name='type' value= restaurant.type)
      br
      | Phone:
      br
      input(type='text', name='phone' value= restaurant.phone)
      br
      br
      input(type='submit')
      br